@charset "utf-8";
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family: '微軟正黑體','arial';
    
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:#333333;
}
.container{
    max-width: 1200px;
    width:95%;
    margin: 0 auto;
    padding-left:16px;
    padding-right: 16px;
    
    /* border: 1px solid red; */
}
.row{
    /* border: 1px solid red;  */
    margin: 50px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.4); */


}
.row:after{
    content:'';
    display: block;
    clear:both;
}
.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
    /* border: 1px solid blue; */
    float:left;
    padding-left:16px;
    padding-right: 16px;
}
.col-lg-3{
    width: 25%;
}
.col-lg-4{
    width: 33.333333%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-12{
    width: 100%;
}
@media screen and (max-width: 768px){
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.333333%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}
@media screen and (max-width: 540px){
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.333333%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-12{
        width: 100%;
    }
}
/* .col-1-2,.col-1-3,.col-1-4{
    border: 1px solid blue;
    float:left;
    padding-left:16px;
    padding-right: 16px;
} */
/* .col-1-2{
    width: 50%;
  
}
.col-1-3{
    width: 33.333333%;

}
.col-1-4{
    width: 25%;

} */
.navbar{
    /* border: 1px solid red; */
    height: 64px;
    /* background-color: rgba(0, 0, 0, .8); */
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transition: all 0.5s;

}
.navbar.active{
    background-color: rgb(0, 0, 0,.8);
}
.navbar .logo{
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid red; */
    width: 160px;
    height: 64px;
    background-image: url(../img/logo-your\ trip.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;

}
.navbar .nav{
    float: right;
    
}
.navbar .nav .nav-item{
    float: left;
    
}
.navbar .nav .nav-link{
    color: white;
    display: block;
    line-height: 24px;
    padding: 20px 16px;
    /* border: 1px solid red; */
    transition: color 0.3s;
}
.navbar .nav .nav-link:hover{
    color: #d5a26f;
}
.navbar .nav .nav-item.active .nav-link{
    color:#d5a26f;
}
.hamburger{
    /* display: none; */
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    z-index: 2;
    color: white;

} 
      

@media all and (max-width:768px){
    .navbar .nav{
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3;
        

    }
    /* #popup-menu:target{
        opacity: 1;
        visibility: visible;
        
    } */
    
    .navbar .nav.active{
        opacity: 1;
        visibility: visible;
    }
    .navbar .nav .nav-link{
        text-align: center;
        padding: 16px;
    }
    .hamburger{
        display: inline-block;
        z-index: 1;
        color: white;
        /* border: 1px solid red */
        
    }
    ul#popup-menu.nav{
        /* display:none; */
        border: 1px soild rgb(134, 127, 127);
    }
}

/* **menu-toggle** */
.navbar .menu-toggle{
    width: 48px;
    height: 48px;
    display: inline-block;
    /* float:right; */
    margin-top: 8px;
    display: none;
    z-index: 2;
    /* border: 1px solid blue; */
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    z-index: 2;
    color: white;
}
@media screen and (max-width:768px){
    .navbar .menu-toggle{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    z-index: 2;
    color: white;
    
}
}


.navbar .menu-toggle span{
    display: block;
    width: 32px;
    height: 2px;
    background-color: #d5a26f;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    transition: all 0.3s;
}
.navbar .menu-toggle span:nth-child(1){
    top: 12px;

}
.navbar .menu-toggle.active span:nth-child(1){
    top: 50%;
    transform:translate(-50%,-50%) rotate(45deg) ;
}
.navbar .menu-toggle span:nth-child(2){
    top: 22px;
    
}
.navbar .menu-toggle.active span:nth-child(2){
	opacity: 0;
}
.navbar .menu-toggle span:nth-child(3){
    top: 32px;
    
}
.navbar .menu-toggle.active span:nth-child(3){
	top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    color: red;
}

 /* .navbar .close-btn{
    display: none;
    width: 48px;
    height: 48px;
    position:absolute;
    right:16px;
    top:8px;} */


@media screen and (max-width:768px){
    .navbar .close-btn{
        display:block;
    }
    
}

.navbar .close-btn span{
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #d5a26f;
    top: 50%;
    left: 50%;
    

    

}
.navbar .close-btn span:nth-child(1){
    transform: translate(-50%,-50%) rotate(45deg); 

}
.navbar .close-btn span:nth-child(2){
    transform: translate(-50%,-50%) rotate(-45deg);   

}


.mask-dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}
.jumbotron{
    height: 800px;
    /* border: 1px solid red; */
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/banner.jpg);
    background-size:cover;
    background-attachment: fixed;
}
@media screen and (max-width:768px){
    .jumbotron{
    padding-top: 144px;
    padding-bottom: 80px;
    }

}

.jumbotron .logo-image{
    width: 320px;
    height: 320px;
    /* border: 1px solid red; */
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
@media screen and (max-width:768px){
    .jumbotron .logo-image{
    width: 200px;
    height: 200px;
    }
}
.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 16px;
    /* border: 1px solid red; */
    color: #ffffff;
    border-radius: 4px;
    transition: all 0.3s;
}
.btn-primary{
    background-color: #d5a26f;
    border: 1px solid#d5a26f;
    color: #ffffff;

}
.btn-primary:hover{
    background-color: #b2875c;
    border: 1px solid#b2875c;
}
.btn-secon{
    border: 1px solid  #d5a26f;
    color:#d5a26f;
}
.btn-secon:hover{
    background-color: #d5a26f;
    color: white;



}
.btn.btn-lg{
    padding: 8px 32px;
}
.btn-group{
    /* border: 1px solid red; */
    text-align:center
}
.btn-group .btn{
    margin-left: 12px;
    margin-right: 12px;
}
@media screen and (max-width:540px){
    .btn-group{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        width: 240px;
        margin: 0 auto;
    }
    .btn-group .btn{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 24px;
    }

}

.tour-outter .para,.section-service .para{
	font-size: 16px;
	line-height: 32px;
	color: #333;
	max-width: 480px;
    margin: 0 auto;
    
}
/* **行程探索標題** */
div.tour-outter>i>img,div.section-service>i>img{
    width: 40px;
    height: 40px;
    margin-top:20px;
    display: block;
    margin: 0 auto;
    
  
  }
  
  h2.tour-title{
    font-weight: bold;
    text-align:center;
    margin-top:0px;
    font-size: 48px;
    color: #333333;
    margin-bottom: 24px;
  }
  
  div.tour-outter{
  display: block;
  margin-top: 20px;
  max-width: 1200px;
  width:100%;
  }

.area{
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 1px solid red; */
    clear: both;
}

div.container>div.right{
    max-width: 960px;
    width: 80%;
    /* border: 1px solid green; */
    box-shadow: 5px 5px 20px #888888;
    float: right;
}
div.container>div.left{
    max-width: 960px;
    width: 80%;
    /* border: 1px solid green; */
    box-shadow: 5px 5px 20px #888888;
    float: left;
}
div.area-info{
    margin-bottom: 16px;
}
@media screen and (max-width:768px){
    .area{
        padding-top:30px;
        padding-bottom:30px;
    }
    div.container>div.right,div.container>div.left{
        display: block;  
        width: 100%; 

        
    }
        

}
.bg-white{
    background-color: #fefefe;
}
.bg-gray{
    background-color: #efefef;
}
.area-info .title{
    font-size: 32px;
    color: #333;
    margin-bottom: 24px;
    margin-top:50px;
}

.area-info .para{
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 24px;
    text-align: justify;
}
.image-container{
    width: 100%;

    /* border: 1px solid red; */

}
.image-container:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 75%;

}
.image-container .image{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px 0;
    border-top-right-radius : 500px;
    border-bottom-left-radius : 500px;
    
}
.section-service{
    text-align: center;
    margin-bottom: 40px;

}
.section-service .title{
    font-size: 48px;
    color: #333333;
    margin-bottom: 24px;

}
.section-service .para{
    font-size: 16px;
    line-height: 32px;
    color: #333333;

}

.service-item .preview{
    padding-top: 16px;
    padding-bottom: 16px;

}
.service-item .title{
    font-size: 24px;
    color:#333333;
    margin-bottom:8px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;


}
.service-item .subtitle{
    font-size: 14px;
    color: #d5a26f;
    margin-bottom:16px;

}
.service-item .para{
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: justify;
    height: 72px;
    overflow: hidden;

}
/* ***客製服務*** */
 
.conctus{
    background-image: url(../img/journey.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
    

}
.conctus .section-service .title,
.conctus .section-service .para{
    color: white;
}

/* ****footer*****/
.footer{
    background-image: url(../img/footer.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    
    
}

/* .footer>.area{
    height: 800px;

} */
.footer .logo{
    display: block;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-image: url(../img/logo-your\ trip.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
footer.footer>.area{
    padding-top: 35px;
    padding-bottom: 35px;
    /* border: 1px solid red; */
}

@media screen and (max-width:540px){
    .footer .logo{
    width: 200px;
    height: 200px;
    }
}
.footer .nav{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}

.footer .nav .nav-link{
    /* border: 1px solid white; */
    color: #fefefe;
    display: block;
    padding: 24px;
    line-height: 24px;
    
    transition: all 0.3s;
}
.footer .nav .nav-link:hover{
    color: #d5a26f;

}


@media screen and (max-width:540px){
    .footer .nav .nav-link{
        padding: 24px 8px;
    }
}

.footer .copyright{
    background-color: rgba(0, 0, 0,.8);
    color: white;
    text-align: center;
    line-height: 24px;
    padding: 16px 0;
    font-size: 14px;
    
}

/* rellax */
.rellax{
    position: absolute;
}
@media (max-width:1024px){
    .rellax{
        display: none;
    }
}
.pararellax-1{
    /* border: 1px solid red; */
    width: 20%;
    left: 10%;
    top: -20%;
}
.pararellax-2{
    /* border: 1px solid red; */
    width: 20%;
    right: 15%;
    top: 100%;
}
.pararellax-3{
    /* border: 1px solid red; */
    width: 20%;
    left: 30%;
    top: 10%;
} 
.pararellax-4{
    /* border: 1px solid red; */
    width: 20%;
    left: 10%;
    top: 35%;
} 


