*{
    box-sizing: border-box;
    position: relative;
}
.header::before{
   
    display: block;
    clear: both;
    content:'';
    height: 64px;
    
}


/* **麵包屑** */
div.product-mb {
    /* border: 1px solid red; */
    font-size: 18px;
    width: 80%;
    margin: 30px auto;
    font-weight: bold;
    
    
}

.btn{
    display: inline-block;
    color: #d5a26f;
    text-decoration: none;
    border: 2px solid #d5a26f;
    /* padding: 16px 32px; */
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #b2875c;
    color:white;
}

.imag-container{
    border: 1px solid red;
    display: block;
    /* width: 33.33333%; */
    height: 100%;
    position: relative;
  
    
}

.imag-container:before{
    /* content: ""; */
    display: block;
    width: 100%;
    /* padding-top:133%; */
    /* background-image: url(../img/女王頭.png); */
}

 .imag{
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    /* height:133%; */
    /* background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.service-item>.image-container>{
    width: 33.3333333%;

}

@media(max-width:768px){
    .imag-container{
        border: 1px solid red;
        display: block;
        /* width: 33.33333%; */
        width: 100%;

    }
}

.heart{
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1;
    cursor: pointer;
    /* font-size: 25px; */
    width: 20px;
    height: 20px;

  }
  img.heartg{
    width: 100%;
    height: 100%;
}

/* hero */
.hero{
    max-width: 1200px;
    width: 90%;
    padding-top:50px;
    padding-bottom: 50px;
    margin: 0 auto;
}
.product-item{
    border: 1px solid red;

}

.product-item .title{
    font-size: 64px;
    color: #484848;
    font-weight:600;
    margin-bottom:32px;
    margin-left: -64px;
}
.product-item .para{
    font-size: 20px;
    line-height: 32px;
    color: #484848;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 48px;

}


.product-item.animated .imag-container:after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 0;
    background-color:#666;
    animation: 
          ani-drawLine 0.3s forwards,
          ani-fillWidth 0.2s 0.3s forwards,
          ani-blockOut 0.2s 0.5s forwards;

}
@keyframes ani-drawLine{
    0%{
        width: 8px;
        height: 0px;
    }
    100%{
        width: 8px;
        height: 100%;
    }
}

@keyframes ani-fillWidth{
    0%{
        width: 8px;
    }
    100%{
        width: 100%;
    }
}
@keyframes ani-blockOut{
    0%{
        width: 100%;
        left:inherit;
        right: 0;
    }
    100%{
        width: 0;
        left:inherit;
        right: 0;
    }
}

.product-item.animated .imag-container .imag{
    animation: ani-fadeIn 0.5s 0.6s backwards;
}
@keyframes ani-fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


.product-item.animated .title{
    animation: ani-fadeInUp 0.5s 0.5s backwards;
}
.product-item.animated .para{
    animation: ani-fadeInUp 0.5s 0.65s backwards;
}
.product-item.animated .btn{
    animation: ani-fadeInUp 0.5s 0.8s backwards;
}

@keyframes ani-fadeInUp{
    0%{
        transform: translate(0,50px);
        opacity: 0;
    }
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

/* stop-list */
.stop-list{
	margin-bottom: 64px;
}
.stop-list:last-child{
	margin-bottom: 0;
}
.stop-list .title-bar{
	/*border: 1px solid #000;*/
	margin-bottom: 24px;
}
.stop-list .title-bar:after{
	content: '';
	display: block;
	clear: both;
}
.stop-list .title-bar .title{
	font-size: 24px;
	line-height: 40px;
	color: #d5a26f;
	float: left;
    padding-left: 16px;
    
}
.stop-list .title-bar .title:before{
	content: '';
	display: inline-block;
	width: 4px;
	height: 24px;
	background-color: #d5a26f;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0,-50%);
}
.stop-list .title-bar .btn{
	float: right;
	padding-top: 8px;
	padding-bottom: 8px;
}
.stop-list .list-item .image-container:before{
	padding-top: 100%;
}
.stop-list .list-item .title{
	font-size: 18px;
	color: #333;
	line-height: 24px;
	margin-bottom: 8px;
    margin-top: 16px;
    font-size: 20px;
}
.stop-list .list-item .subtitle{
	font-size: 14px;
    color: #d5a26f;
    font-size: 18px;
}
.aaa{
    border: 1px solid red;
}

.owl-theme .owl-dots{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    /* margin-top: 24px; */
}
@media(max-width:768px){
    .owl-theme .owl-dots{
        margin-bottom: 24px;
    }

}
.owl-theme .owl-dots button.owl-dot{
    width: 15px;
    height: 15px;
    margin: 0 4px;
    border-radius: 50%;
    ;
    outline: none;
}
.owl-theme .owl-dots button.owl-dot.active{
    color: #d5a26f;
}
/* .owl-theme .owl-nav{
    border: 1px solid red;
    position:absolute;
    left: 0;
    top: calc((100% - 106px) / 2);
    width: 100%;
} */
.owl-theme>.owl-nav>button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d5a26f;
    outline: none;
    color:white;
    /* position: absolute; */
    /* transform: translate(0,-50%); */
}
/* .owl-theme .owl-nav button.owl-prev{
    left:-16px;
    border: 1px solid red;
}
.owl-theme .owl-nav button.owl-next{
    right:-16px;
    border: 1px solid red;
} */

.title-bar .para{
    display: inline-block;
    font-size: 20px;
    line-height: 32px;
    color: #484848;
    /* font-weight: 300; */
    letter-spacing: 1px;
    margin-bottom: 48px;
    font-weight: bold;
    margin: 40px;

}



